---
---

@import "minimal-mistakes";

/* ===========================
   Galaxy Theme
=========================== */

body {
    background: url("/MP/assets/images/galaxy-bg.jpg") center center / cover fixed no-repeat;
}

/* لایه‌های قالب را شفاف کن */
.initial-content,
.page,
.page__inner-wrap,
.layout--single,
.archive,
.archive__item,
.sidebar,
.masthead,
.greedy-nav {
    background: transparent !important;
}

/* متن‌ها */
body,
.page__content,
.page__title,
.archive__item-title {
    color: white;
}
